.Cooseus_section{
    height: 100%;
    width: 100%;
    display: flex;
}
.cooseus_container{
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
}
.cooseus_container > img{
    position: absolute;
    height: 100%;
    display: flex;
}
.Content_section h4{
    color: blue;
}
.Content_section{
    height: 100%;
    margin-left: 10rem;
    margin-right: 10rem;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.reasons_sections{
    gap: 1rem;
    height: auto;
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
    text-align: center;
    align-items: center;
}
.reasons_content{
    border-radius: 1rem;
    box-shadow: inset 10px 10px 3px rgba(0,0,0,.05);
    
    height: 19rem;
    width: 19rem;
    background-color: white;
    color: black;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 1rem;
}

@media (max-width: 1284px) {
    .Content_section {
        height: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width: 964px) {
    .reasons_content {
        border-radius: 0.5rem;
        height: 14rem;
        width: 88%;
    }
}